@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --h1-color: #ffffff;
    --h2-color: #ffffff;
    --h3-color: #ffffff;

    --p-color: #b3b3b3;

    --navbar-bg: #333333;
    --navbar-text: #ffffff;

    --btn-bg: #ffffff;
    --btn-text: #ffffff;
    --btn-hover: #2980b9;
    --btn-active: #2472a4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --h1-color: #b3b3b3;
    --h2-color: #b3b3b3;
    --h3-color: #b3b3b3;

    --p-color: #b3b3b3;

    --navbar-bg: #b3b3b3;
    --navbar-text: #b3b3b3;

    --btn-bg: #b3b3b3;
    --btn-text: #333333;
    --btn-hover: #b3b3b3;
    --btn-active: #b3b3b3;
  }
}

@layer base {

  * {
    font-family: 'Verdana', sans-serif;
  }

  h1 { color: var(--h1-color); }
  h2 { color: var(--h2-color); }
  h3 { color: var(--h3-color); }
  p { color: var(--p-color); }
}

@layer components {
  .navbar {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
  }

  .btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }

  .btn:hover {
    background-color: var(--btn-hover);
  }

  .btn:active {
    background-color: var(--btn-active);
  }
}
